[submodule "extern/ubench"]
	path = extern/ubench
	url = https://github.com/sheredom/ubench.h.git
[submodule "extern/flat_hash_map"]
	path = extern/flat_hash_map
	url = https://github.com/skarupke/flat_hash_map
[submodule "extern/robin-map"]
	path = extern/robin-map
	url = https://github.com/Tessil/robin-map.git
[submodule "extern/luau"]
	path = extern/luau
	url = https://github.com/Roblox/luau.git
[submodule "extern/folly"]
	path = extern/folly
	url = https://github.com/facebook/folly.git
[submodule "extern/abseil-cpp"]
	path = extern/abseil-cpp
	url = https://github.com/abseil/abseil-cpp.git
[submodule "extern/llvm-project"]
	path = extern/llvm-project
	url = https://github.com/llvm/llvm-project.git
[submodule "extern/ExcaliburHash"]
	path = extern/ExcaliburHash
	url = https://github.com/SergeyMakeev/ExcaliburHash.git
[submodule "extern/boost/preprocessor"]
	path = extern/boost/preprocessor
	url = https://github.com/boostorg/preprocessor.git
[submodule "extern/boost/unordered"]
	path = extern/boost/unordered
	url = https://github.com/boostorg/unordered.git
[submodule "extern/boost/config"]
	path = extern/boost/config
	url = https://github.com/boostorg/config.git
[submodule "extern/boost/core"]
	path = extern/boost/core
	url = https://github.com/boostorg/core.git
[submodule "extern/boost/container_hash"]
	path = extern/boost/container_hash
	url = https://github.com/boostorg/container_hash.git
[submodule "extern/boost/integer"]
	path = extern/boost/integer
	url = https://github.com/boostorg/integer.git
[submodule "extern/boost/assert"]
	path = extern/boost/assert
	url = https://github.com/boostorg/assert.git
[submodule "extern/boost/type_traits"]
	path = extern/boost/type_traits
	url = https://github.com/boostorg/type_traits.git
[submodule "extern/boost/container"]
	path = extern/boost/container
	url = https://github.com/boostorg/container.git
[submodule "extern/boost/detail"]
	path = extern/boost/detail
	url = https://github.com/boostorg/detail.git
[submodule "extern/boost/static_assert"]
	path = extern/boost/static_assert
	url = https://github.com/boostorg/static_assert.git
[submodule "extern/boost/move"]
	path = extern/boost/move
	url = https://github.com/boostorg/move.git
[submodule "extern/boost/throw_exception"]
	path = extern/boost/throw_exception
	url = https://github.com/boostorg/throw_exception.git
[submodule "extern/boost/tuple"]
	path = extern/boost/tuple
	url = https://github.com/boostorg/tuple.git
[submodule "extern/boost/predef"]
	path = extern/boost/predef
	url = https://github.com/boostorg/predef.git
